body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: 	#393b3f;
    
}
h4{
  color: white;
  font-weight:bolder;
  
}
h3{
  color: white;
  font-weight: bold;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container1 {
    padding: 2px 16px;
  }

  #searchForm{
    display: flex;
    min-height: 44px;
    margin: 0 auto;
    width: 690px;
    align-items: center;
  }






  #query{
    border-radius: 25px;
    min-height: 22px;
    margin-right:  0 auto;
  }









  .objImage{
    max-width: 100%;
    max-height: 100%;
    width: 700px;
    height: 700px;
    display: block;
    margin: auto;
    object-fit: contain;
  }
  #logo{
    margin: auto;
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: fit-content;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.hidden{
  visibility: hidden !important;
}